body{
    background-color: rgb(171, 241, 209);
    color: white;
    font-family: 'Comfortaa', cursive;
    font-size: 1.2em;
    padding: 0;
    margin: 0;
    height: 100%;
}
header, footer {
 color: #ffffff;
 background-color:  rgb(171, 241, 209);
 width: 100%;
 height: 50px;
}
header{
    display: inline-flex;
    font-family: 'Rambla', sans-serif;
    font-size: 1.0em;
}

#container{
    background-image: url(../images/phy11.jpg);
    display: block;
    height: 200px;
}

.otroIntento{
    color: yellow;
    font-weight:bold;
}

footer{
    text-align: center;
}
